body{
    font-family:'San Francisco', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.container{
    margin:auto;
}

/* COMMON CLASSES */

.primary-text{
    color: #56a79a;
}

.primary-background{
    background:#56a79a;
}

/* HEADER */

#main-header{
    border-bottom: 1px solid #56a79a;
}

/* NAVBAR */

#navbar{
    text-transform:uppercase;
}

#navbar li{
    display:inline;
    padding-right:20px;
    list-style:none;
}

#navbar a{
    text-decoration:none;
    color:#888;
}

#navbar li.current a, #navbar a:hover{
color:#56a79a;
border-bottom: 3px solid #56a79a;
padding-bottom: 3px;
}

/* SHOWCASE */

#showcase{
    border-bottom: 1px solid #56a79a;
    margin-bottom: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('../images/leaf.jpg') no-repeat center center;
    background-position: top;
    
}

#showcase .row {
    height:600px;  
}


#showcase h1 {
    font-size:50px;
    margin:zero;
    margin-bottom:20px;
    color: white
}

#info .clipart {
    width: 350px;
}

/* .clipart {  
    filter: hue-rotate(250deg) drop-shadow(3px 1px 0.8px white)
} */

#features h2 {
    font-size: 35px;
    }

#showcase p {
    color:#ccc;
    margin:0; 
}

#showcase .showcase-content{
    background: #333;
    color: #fff;
    border-radius: 80px;
    padding: 40px;
    opacity: 0.9;
}

/* INFO */

#info{
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), url('../images/unsplash6.jpg') no-repeat center;
    
}

/* FEATURES */

#features h2{
    font-size: 35px;
    margin: 0;
    padding-bottom:10px;
}

#features p{
    color:#888;
    margin: 0;
    margin-bottom:40px;
}

#features .fa, #features .fas, #features .fab, #features .far {
    font-size:60px;
    color:#56a79a;
}



#info h2{
    font-size: 30px;
    margin: 5;
    padding-bottom: 10px;
    color: white;
}

#info ul{
    list-style: none;
    padding: 0px;
}


#info li{
    line-height:2em;
    font-size: 18px;
    color: white;
}

#info li .fas-fa-check {
    text-align: left;
}

/* MEDIA QUERIES */
@media(max-width:800px){
    #showcase h1{
        font-size:30px;
    }
}

@media(max-width:500px){
    #showcase .showcase-content{
        padding: 40px 10px;
    }
}