body{
    font-family:'San Francisco', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.container{
    margin:auto;
}

/* COMMON CLASSES */

.primary-text{
    color: #3d8d62;
 
}

.primary-background{
    background:#3d8d62;
}

.primary-headertext {
    list-style:inline;
    color: #3d8d62;
}


.primary-text1 { 
    color: white; 
    font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #3d8d62, 
                 2px 2px #3d8d62, 
                 3px 3px #3d8d62;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition:    all 0.12s ease-out;
    -ms-transition:     all 0.12s ease-out;
    -o-transition:      all 0.12s ease-out;
 }
 .primary-text1:hover {
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #3d8d62, 
                 2px 2px #3d8d62, 
                 3px 3px #3d8d62, 
                 4px 4px #3d8d62, 
                 5px 5px #3d8d62, 
                 6px 6px #3d8d62;
 }

/* HEADER */

#main-header{
    border-bottom: 1px solid #3d8d62;
}

/* NAVBAR */

#navbar{
    text-transform:uppercase;
}

#navbar li{
    display:inline;
    padding-right:20px;
    list-style:none;
}

#navbar a{
    text-decoration:none;
    color:#888;
}

#navbar li.current a, #navbar a:hover{
color:#56a79a;
border-bottom: 3px solid #3d8d62;
padding-bottom: 3px;
}

/* SHOWCASE */

#showcase{
    border-bottom: 1px solid #3d8d62;
    margin-bottom: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('../images/unsplash6.jpg') no-repeat center center;
    background-position: top;
    
}

#showcase .row {
    height:600px;  
}


#showcase h1 {
    font-size:50px;
    margin:zero;
    margin-bottom:20px;
    color: white
}

#info .clipart {
    width: 350px;
}

/* .clipart {  
    filter: hue-rotate(250deg) drop-shadow(3px 1px 0.8px white)
} */

#features h2 {
    font-size: 35px;
    }

#showcase p {
    color:#ccc;
    margin:0; 
}



/* INFO */

#info{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/unsplash1.jpg') no-repeat center;
    
}

/* FEATURES */

#features h2{
    font-size: 35px;
    margin: 0;
    padding-bottom:10px;
}

#features p{
    color:#888;
    margin: 0;
    margin-bottom:40px;
}

#features .fa, #features .fas, #features .fab, #features .far {
    font-size:60px;
    color:#3d8d62;
}

#info h2{
    font-size: 30px;
    margin: 5;
    padding-bottom: 10px;
    color: white;
}

#info ul{
    list-style: none;
    padding: 0px;
}


#info li{
    line-height:2em;
    font-size: 18px;
    color: white;
}


/* COMPANY */
#company{
    background: #333;
    color: #fff;
    padding: 10px 0
}

#company h4{
    text-transform:uppercase;
    margin-bottom:0;
}

#company ul{
    padding:0;
    list-style:none;
    line-height:2em;
}

#company input[type="text"]{
    padding: 7px;
}

#company button{
    background:#222;
    color:#fff;
    padding: 10px;
    border: 0;
}

/* FOOTER */

#main-footer{
    background:#3d8d62;
    color:#fff;
}

/* PAGE */

#page{
    margin-bottom: 40px;
}

/* SERVICES */

.services ul {
    padding: 0;
}

.services ul li{
list-style: none;
padding: 30px;
}

.services ul li:nth-child(odd){
    color: fff;
}

.services ul li:nth-child(even){
    background:#3d8d62;
    color: fff;
    
}

/* CONTACT */

.contact form {
    background: #333;
    color: #fff;
    padding: 20px;
}

.contact form input[type="text"]{
     width: 50%;
     height: 30px;
     margin-bottom: 10px;
}

.contact form textarea{
    width: 50%;
    height: 100px;
}

.contact form button{
    width: 50%;
    padding: 10px 0;
    border: 0;
    background: #222;
    color: #fff;
}

.contact form label{
     text-transform:uppercase;
}

/* MEDIA QUERIES */
@media(max-width:800px){
    #showcase h1{
        font-size:30px;
    }
}

@media(max-width:500px){
    #showcase .showcase-content{
        padding: 40px 10px;
    }
}